
@import "tailwindcss";

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.5s ease forwards;
  }

  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeUp {
    animation: fadeUp 0.5s ease forwards;
  }

  html, body, #__next {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #0f172a; /* or the dark color you're using */
  }
  